/******************************************************************************
 * src/styles/_checkbook.scss
 ******************************************************************************/

.account-balance-row {
  margin-bottom:            0.50rem;
  background-color:        $body-bkgrd;
}

.account-card-body {
  background-color:         pink;
}
