/******************************************************************************
 * src/styles/_checkbook.scss
 ******************************************************************************/

.account-balance-row {
  margin-bottom:            0.50rem;
  //** background-color:        $body-bkgrd;
}

.account-card-body-credits {
  background-color:         lightgreen;
}

.account-card-body-debits {
  background-color:         pink;
}

.account-card-body-balance {
  background-color:         lightblue;
}
